<a href="https://colab.research.google.com/github/FernandoMartinezHernandez/daa_2021_1/blob/master/2_Octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Meteorología en México

En Sistema meteorológico nacional lleva el registro de la lluvias desde el año 1985 y lo pone a disposición de la población por medio de la pagina datos.gob.mx.

En la siguiente liga se encuentran 2  archivos separados por comas CSV correspondientes a los registros de lluvias
mensuales y anuales de los años 2017 y 2018. En los columnas se encuentran 13,  correspondientes al promedio mensual y el promedio anual.
En los renglones se encuentran 33, correspondientes a cada cada uno de los 32 estados y a nivel nacional.

https://drive.google.com/file/d/1lamkxgq2AsXRu81Y4JTNXLVld4og7nxt/view?usp=sharing


## Planteamiento del problema
Diseñar un algoritmo y programarlo para que:
1. Solicite por teclado el año, el estado y el mes, en base a esa información:
- muestre en pantalla el promedio de ese mes en ese estado en el año seleccionado.
- muestre en pantalla el promedio anual del  estado seleccionado.
- muestre la suma de los 12 meses de ese estado en el año selecc
ionado.

2. Busque el mes que mas llovió en todos los estados durante esos dos años. Imprimir año, estado y mes.
3. Busque el mes que menos llovió en los dos. Imprimir año, estado y mes.

In [52]:
import csv
import pandas as pd
anio = input("Seleccione el año: ")
mes = input ("Seleccione el mes")

if anio is 2017: 
    df = pd.read_csv('/content/2017Precip.csv', encoding='latin',skiprows=1)
    
if anio is 2018: 
    df = pd.read_csv('/content/2018Precip.csv', encoding='latin',skiprows=1)
    

print(df[mes])

Seleccione el año: 2017
Seleccione el mesENE
0      35.5
1      14.4
2       0.6
3     105.7
4       0.7
5       5.2
6      99.6
7       0.1
8       7.9
9       2.4
10      3.5
11      1.7
12     27.1
13     14.8
14     11.5
15     15.4
16      1.6
17      3.5
18     16.5
19     25.0
20     32.4
21      9.2
22     89.8
23     19.5
24      0.4
25      1.6
26    323.9
27     27.3
28      5.6
29    112.7
30     55.2
31     24.3
32     25.7
33      NaN
Name: ENE, dtype: float64